@font-face {
    font-family: 'Archangelsk';
    src:url('./Archangelsk\ font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Archangelsk', 'Roboto';
}